* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.full_body {
    background-color: rgb(241, 241, 241);
    font-family: ef;
    font-family: co;
}

.first_dashboard nav {
    display: flex;
    flex-direction: row;
    padding: 0px 40px;

}

.nav1 {
    padding: 10px 15px;
    font-size: 15px;
    cursor: grab;
    caret-color: rgb(238, 126, 3);
    margin-top: 4px;
    padding-top: 10px;
    background-color: rgb(241, 241, 241);

}

.dis:nth-child(7) .nav1 {
    color: rgb(238, 126, 3);
    /* font-size: 30px; */
}

.first_dashboard .dis {
    background-color: transparent;
    cursor: grab;
    box-shadow: inset 0 0 0 0 rgb(238, 126, 3);
    transition: ease-out 0.3s;
    color: rgb(85, 85, 85);
}

.first_dashboard .dis:hover {
    box-shadow: inset 200px 0 0 0 rgb(238, 126, 3);
    color: rgb(238, 126, 3);
}

.second_nav {
    display: flex;
    justify-content: space-between;
    background-color: white;

}

.logo {
    padding: 5px 20px;
}

.second_nav_left {
    display: flex;

}


.items {
    display: flex;

}

.nav2 {
    padding: 20px;
    background-color: white;
    margin-bottom: 5px;
    font-size: 15px;
}

.items .dis {
    background-color: transparent;
    cursor: grab;
    box-shadow: inset 0 0 0 0 rgb(238, 126, 3);
    transition: ease-out 0.3s;
}

.items .dis:hover {
    box-shadow: inset 200px 0 0 0 rgb(238, 126, 3);
    color: rgb(238, 126, 3);
}

.first_image {
    background: url(./pictures/first\ picture\ 1.png);
    background-size: cover;
    position: relative;
}

.greenline {
    background-color: rgb(238, 126, 3);
    height: 250px;
    width: 15px;
    margin-left: -10px;
    transform: skew(-40deg);
}

.details {
    color: white;
    z-index: 1;
    position: relative;

}

.det {
    padding: 0px 200px 200px 200px;
}

.first_image .head {
    font-size: 48px;
    font-weight: bolder;
    z-index: -1;
    color: white;
}

.first_image .subhead {
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.sentence {
    font-size: 16px;
    margin-bottom: 20px;
}

.details button {
    padding: 6px 12px;
    background-color: transparent;
    border: 2px white solid;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.color_overlayed {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: .2;
}

.green_display {
    display: flex;
    padding: 0px 70px;
    margin-top: -40px;
    position: relative;
    z-index: 30;

}

.icon {
    font-size: 30px;
}

.item {
    padding: 20px;
    background-color: rgb(164, 197, 25);
    /* margin-top: -40px; */
    z-index: auto;
    position: relative;
}

.green_display .dis .item p {
    font-size: 16px;
}


.dis:nth-child(2) {
    border-left: solid 0.5px white;
}

.dis:nth-child(3) {
    border-left: solid 0.5px white;
}

.dis:nth-child(4) {
    border-left: solid 0.5px white;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.green_display .dis {
    background-color: transparent;
    cursor: grab;
    box-shadow: inset 0 0 0 0 rgb(164, 197, 25);
    transition: ease-out 0.3s;
    padding-bottom: 5px;
    background-color: rgb(164, 197, 25);


}

/* .green_display .dis:nth-child(4){
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    z-index: 30;
} */

.green_display .dis:hover {
    box-shadow: inset 400px 0 0 0 rgb(255, 255, 255);

}

/* .green_display .dis:nth-child(4):hover {
    box-shadow: inset 260px 0 0 0 rgb(238, 126, 3);

} */
.info .head {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.info .head h1:nth-child(1) {
    font-weight: bolder;
    font-size: 32px;
}

.info .head h1:nth-child(2) {
    font-weight: lighter;
    font-size: 32px;
}

.info p {
    text-align: center;
    font-size: 16px;
}

.loan_container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.loan_container .box:nth-child(1) {
    background-color: rgb(238, 126, 3);
    height: 400px;
    width: 288px;
    padding: 32px 0px 32px 32px;
    border-right: 1px solid white;
}

.loan_container .box:nth-child(2) {
    background-color: rgb(238, 126, 3);
    height: 400px;
    width: 512px;
    padding: 48px;
    font-size: 16px;
}

.loan_container .box:nth-child(3) {
    background-color: rgb(38, 126, 3);
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    padding: 32px 32px 32px 80px;
    height: 340px;
    width: 432px;
    margin-left: -223px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.loan_container .box:nth-child(1) .body {
    padding: 20px 35px;
}

.loan_container .box:nth-child(1) .head {
    font-size: 32px;
    font-weight: bold;
}

.loan_container .box:nth-child(1) .write {
    font-size: 16px;
    margin-top: 20px;
    /* margin-bottom: ; */
    /* padding: 35px; */
}

.loan_container .box .terms {
    background-color: rgb(199, 107, 6);
    padding: 10px;
    margin-left: 20px;
}

.loan_container .box:nth-child(3) .head {
    font-size: 16px;
    color: black;
    /* font-weight: bold; */
}

.loan_container .box:nth-child(3) h1 {
    font-size: 40px;
    color: rgb(238, 126, 3);
}

.loan_container .box:nth-child(3) .write {
    display: flex;
    gap: 3px;
    color: black;
}

.loan_container .box:nth-child(3) .write .head {
    font-weight: bold;
}

.loan_container .box:nth-child(3) button {
    padding: 6px 10px;
    font-size: 16px;
    border: 2px solid black;
    background-color: transparent;

}

.closa .box {
    background-color: rgb(164, 197, 25);
}

.closa {
    display: flex;

}

.image {
    background-image: url(./pictures/closaadv.jpeg);
    height: 400px;
    width: 65%;
    background-size: cover;
    background-position: center;
}

.closa img {
    /* height: 300px; */
    /* background-size: cover; */
    height: 400px;
    display: flex;
    justify-self: end;
    justify-self: right;
    width: 65%;
    height: 400px;
}

.closa .box {
    margin-right: -100px;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}

.closa .box {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

/* .closa .box .green_box {
    /* padding: 75px 140px; */

/* } */ */

.closa .orange {
    background-color: rgb(238, 126, 3);
    transform: skew(-8.3deg);
    width: 12px;
    margin-right: 29.5px;
    /* margin-left: -54px; */
    /* margin-right: -60px; */
    /* position: relative;
        z-index: 10; */
}

.closa .box .green_box .head:nth-child(1) {
    font-size: 26px;
    font-weight: bold;
}

.closa .box .green_box .head:nth-child(2) {
    font-size: 48px;
    font-weight: bold;
}

.closa .box .green_box .head:nth-child(3) {
    font-size: 30px;
}

.closa .box .green_box .write {
    font-size: 28px;
    /* margin-top: 20px; */
    padding: 20px 60px 20px 0px;
}

/* .orange_box{
        background-color: rgb(238, 126, 3);
            padding: 2rem 2rem 2rem 10vw;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            height: 100%;
            width: 45%;
            /* z-index: 3; */
/* position: absolute; */
/* top: 0;
            left: 0; */
/* display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-self: flex-end; */
/* gap: 0.1rem; */
/* } */
/* .greeninbox{
        
            position: absolute;
            width: 98%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            left: 0px;
            background-color: rgb(164, 197, 25);
            
        /* } */
*/ */ .closecontainer {
    display: flex;
}

.green_out_box {
    width: 45%;
    height: 400px;
    background-color: rgb(238, 126, 3);

    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    margin-right: -100px;
}

.orange_in_box {
    height: 400px;
    background-color: rgb(164, 197, 25);
    width: 98%;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    padding: 64px 32px 64px 144px;
    gap: 2px;
}

.orange_in_box h3 {
    font-size: 25.5px;
    font-weight: bolder;
    color: white;
}

.orange_in_box h1 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.orange_in_box h2 {
    font-size: 30.4px;
    font-weight: lighter;
}

.orange_in_box p {
    font-size: 17.6px;
    color: white;

}

.orange_in_box button {
    margin: 24px 0px;
    border: black 2px solid;
    background-color: transparent;
    padding: 6px 12px;
    font-size: 16px;
}

.back_image {
    background-image: url(./pictures/closaadv.jpeg);
    height: 400px;
    width: 65%;
    background-size: cover;
    background-position: center;
    right: 0;
    top: 0;
}

.closa__box {
    display: flex;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px auto;
}

.explore p {
    font-size: 16px;
    margin: 0px 250px;
    /* text-align: center; */
}

.explore h1 {
    font-size: 32px;
    font-weight: lighter;
}

.explore span {
    font-size: 32px;
    font-weight: bolder;
}
.image_box img {
    /* gap: 20px; */
    height: 349px;
    width: 357px;
}
.blue_box{
    display: flex;
    /* gap: 20px; */
    /* padding: 0px 400px; */
}
.blue_box .bbox{
    /* background-color: orange; */

}
.bbbox{
    background-color: rgb(238, 126, 3);
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
        width: 95%;
}
.iin_box{
    /* padding: 200px; */
    width: 95%;
    background-color: rgb(1, 63, 134);
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
.test{
    display: flex;
    padding: 0px 180px;
    gap: 20px;
    color: white;
    margin-top: -125px;
}
.bbbox .iin_box{
    padding: 30px;
}
.bbbox .iin_box p{
    margin-top: 20px;
    font-size: 16px;
}
.bbbox .iin_box button{
    color: white;
    background-color: transparent;
    border: 2px white solid;
    padding: 6px 12px ;
    font-size: 16px;
    margin-top: 20px;
}
.tranbox{
    background-color: transparent;
    /* padding: 20px; */
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
.small_b0x ul li a{
        width: 176px;
            height: 151px;
            border: 4px solid hsla(212, 99%, 26%, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            transition: all 0.2s;
            margin: auto;
            text-decoration: none;
            /* margin-right: 1rem; */
}
.small_b0x ul li a:hover{
    background-color: rgb(238, 126, 3);
    border: none;
    color: white;
    box-shadow: 3px pink;
}
.small_b0x ul {

display: flex;
gap: 20px;
align-items: center;
justify-content: center;
list-style: none;

}
.picture_container{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.picture_container img{
    width: 370px;
    position: relative;
}
.picture_container .box1{
    height: 200px;
    width: 370px;
    background-color: transparent;
    margin-top: -100px;
    z-index: 2;
position: relative;
}
.picture_container .box2{
    width: 95%;
    height: 200px;
    background-color: rgb(238, 126, 3);
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}
.picture_container .box3{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
background-color: rgb(1, 63, 134);
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
    color: white;
    gap: 20px;
    
    padding: 25px;
}
.picture_container .box3 h1{
    font-size: 21px;
}
.picture_container .box3 p{
    font-size: 16px;
}
.picture_container .box3 button{
    background-color: transparent;
    font-size: 16px;
    padding: 6px 12px ;
    color: white;
    border: white 2px solid;
}
.icons ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons ul li{
    /* background-color: orchid; */
    padding:60px 30px;
    list-style: none;
    font-size:  50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition-duration: 0.3s;
} 
.icons ul li:nth-child(1):hover{
    color: white;
    background-image: url(./pictures/901.jpg);
    background-size: cover;
    background-position: center;
}
.icons ul li:nth-child(2):hover {
    color: white;
    background-image: url(./pictures/online-banking.jpg);
    background-size: cover;
    background-position: center;
}
.icons ul li:nth-child(3):hover {
    color: white;
    background-image: url(./pictures/mobile-banking.png);
    background-size: cover;
    background-position: center;
}
.icons ul li:nth-child(4):hover {
    color: white;
    background-image: url(./pictures/platinum-icon-bg_1.png);
    background-size: cover;
    background-position: center;
}
.icons ul li:nth-child(5):hover {
    color: white;
    background-image: url(./pictures/901.jpg);
    background-size: cover;
    background-position: center;
}
.icons ul li:nth-child(6):hover {
    color: white;
    background-image: url(./pictures/online-banking.jpg);
    background-size: cover;
    background-position: center;
}
.icons ul li:nth-child(4){
    padding:52.3px  30px;
}
.icons ul li i{

}
.icons ul li p{
    font-size: 15px;
    /* padding: 0px 10px 0px 0px ; */
}
